@font-face {
  font-family: tittles;
  src: url("/college.ttf");
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  background-image: url("/img/background.webp");
  background-attachment: fixed;
  background-repeat: no-repeat;
}

body{
  width: 100vw;
  min-height: 100vh;
  background-color: rgba(0, 0, 0, .9);
  display: grid;
  grid-template-rows: 56px auto 160px;
}

h1,h2,button, label{
  font-family: tittles;
}

h3{
  color: #22c55e;
  margin-top: 20px;
}

a{
  color: #22c55e;
}

p{
  padding: 10px;
}

ul{
  margin-left: 25px;
}

section li{
  padding-left: 10px;
  margin-bottom: 10px;
  position: relative;
}

section li::before{
  position: absolute;
  content: "\00BB";
  margin-left: -30px;
  margin-top: -13px;
  color: #22c55e;
  font-size: 30px;
}

@media screen and (max-width:1024px) {
  body{
    grid-template-rows: 112px auto 160px;
  }
}