@font-face {
  font-family: tittles;
  src: url("/college.ttf");
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  width: 100vw;
  min-height: 100vh;
  background-image: url("/img/background.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: grid;
  grid-template-rows: 56px auto 56px;
}

h1,button, label{
  font-family: tittles;
}

@media screen and (max-width:700px){

  body{
    grid-template-rows: 56px auto 100px;
  }
}
