---
import LayoutWithNav from "../layouts/LayoutWithNav.astro";
---

<LayoutWithNav title="" descriptionPage="">
  <main class="flex items-center justify-center">
    <a href="/blog/test" class="p-20 bg-green-500 rounded-xl text-2xl text-white hover:bg-green-900">Blog 1</a>
  </main>
</LayoutWithNav>