---
import LayoutWithNav from "../layouts/LayoutWithNav.astro";

let loged = true;

if(!loged){
  return Astro.redirect('/singIn');
}
---

<LayoutWithNav descriptionPage="pagina de inicio" title="Home">
  <h1>Hola</h1>
</LayoutWithNav>