---
import LayoutWithNav from "../layouts/LayoutWithNav.astro";
import { loged } from "../js/handleLogin";

if(!loged){
  return Astro.redirect('/signIn');
}
---

<LayoutWithNav descriptionPage="pagina de inicio" title="Home">
  <h1>Hola</h1>
</LayoutWithNav>