---
import Button from '../components/react/Button';
import Input from '../components/react/Input';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Entrenate" descriptionPage="Pagina de Bienvenida">
	<main class="bg-black/80 grid content-center h-full w-full row-span-3">
		<form class="w-5/6 lg:w-80 grid justify-self-center ">

			<h1 class="mb-5 text-center text-white text-5xl">PINEYRO FIT</h1>

			<label for='userName' class=" text-white">Nombre de Usuario</label>
			<Input id='userName' type='email' placeholder='Escribe tu correo' />

			<label for='password' class=" text-white mt-5">Nombre de Usuario</label>
			<Input id='password' type='password' placeholder='Escribe tu contraseña' />

			<Button text="Entrar" click={() => console.log()} />
		</form>
	</main>
</Layout>