---
import Footer from '../components/react/Footer';
import Header from '../components/react/Header';
import '../styles/index.css'

const { title, descriptionPage } =  Astro.props;
---

<!DOCTYPE html>
<html lang="en+s">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="author" content="Jasubi Piñeyro 'JasubiP'" />
		<meta name="description" content={descriptionPage}>
		<title>{title}</title>
	</head>
	<body>
			<Header />
			<slot />
			<Footer />
	</body>
</html>

<script src="../js/main.js"></script>